body{
    padding: 110px 1000px 1200px 150px;  
    font-family: Roboto, Arial;
    }

    @media (min-width:499px) and (max-width: 999px){
         body{
            padding: 100px 0 0 90px;
         }
    }

    @media (min-width: 1000px){
         body{
            padding: 100px 0 0 140px;
         }
    }