.nav-section{
        background-color: white;
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        z-index: 200;
    }
    .nav-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 75px;
        width: 80px;
        transition: background-color 0.20s;
    }
    @media (min-width: 1000px) {
        .nav-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            min-width: 140px;
            width: 140px;
            height: 75px;
            column-gap: 8px;
        }

    }
    .nav-container:hover{
        background-color: lightgray;
    }
    .home-icon, .explore-icon, .subscriptions-icon,
    .originals-icon, .youtube-music-icon, .library-icon{
        height: 26px;
    }